.aui-tab-item {
    color: #fff;
    border-right: 2px solid #fff;
    background-color: #67c23b;
}
.aui-tab-item .hide{
    display: none;
}
.aui-tab-item .show{
    display: block;
}
.aui-tab-item.aui-active {
    color: #fff;
    font-weight: bolder;
    border-bottom: 4px solid #039be5;
}
.bodyContainer .tabBody .tab-body-item{
    display: none;
}
.bodyContainer .tabBody .tab-body-item.active{
    display: block;
}
/* 医嘱记录最外层div*/
.tab-body-item .itemContainer .adviceRecordsTmplList{
    overflow: hidden;
    height:fit-content;
    margin-top: 0.2rem;
    border: 1px double #67c23b;
}
/* 医嘱记录左侧样式*/
.tab-body-item .itemContainer .adviceRecordsTmplList .left{
    float:left;
    width:7%;
    height: auto;
    padding-top: 11%;
    padding-left: 0.3rem;
    margin-bottom:-9999px;
    padding-bottom:9999px;
}
/* 医嘱记录右侧样式*/
.tab-body-item .itemContainer .adviceRecordsTmplList .right{
    float:left;
    width:93%;
    padding-left: 0.3rem;
    border: 1px solid #67c23b;
}

/* 医嘱记录最外层div*/
.tab-body-item .itemContainer .adviceSendsTmplList{
    overflow: hidden;
    height:fit-content;
    margin-top: 0.2rem;
}
/* 医嘱记录左侧样式*/
.tab-body-item .itemContainer .adviceSendsTmplList .left{
    float:left;
    width:7%;
    height: auto;
    padding-top: 3%;
    padding-left: 0.3rem;
    margin-bottom:-9999px;
    padding-bottom:9999px;

}
/* 医嘱记录右侧样式*/
.tab-body-item .itemContainer .adviceSendsTmplList .right{
    float:left;
    width:93%;
    padding-left: 0.3rem;
    border: 1px solid #67c23b;

}

/*不同状态背景颜色-绿色*/
.tab-body-item .itemContainer  .background-white{
    background-color: white;
    /*background-color: #67c23b;*/
}

/* 医嘱详情隐藏*/
.tab-body-item .itemContainer .detail{
    padding-left: 0.3rem;
    margin-top: 0.1rem;
    border: 1px double #67c23b;
}

/* 医嘱详情隐藏*/
.tab-body-item .itemContainer .hide{
    display: none;
}

/* 医嘱详情隐藏*/
.tab-body-item .itemContainer  .show{
    display: block;
}
/* 医嘱筛选白色显示框*/
.tab-body-item .bottomContainer .bottomBody .adviceInput{
    width: 3.5rem;
    display: inline-block;
    font-size: 0.6rem;
    height: 1.2rem;
    padding: 0px 5px;
    background-color: #fff;
}

.tab-body-item .bottomContainer .bottomBody .adviceInputLong{
    width: 5.2rem;
    display: inline-block;
    font-size: 0.6rem;
    height: 1.2rem;
    padding: 0px 5px;
    background-color: #fff;
}

.aui-tab-item .adviceRecordsDropdown{
    color: black;
    background-color: #cacaca;
}
/* 点击医嘱记录弹出下拉选，鼠标浮在哪条记录上哪条记录变成浅蓝色*/
.aui-tab-item .changeBlue{
    color: #27c5e7;
}
/* 医嘱样式结束*/

/* 医嘱执行快捷查询下拉选样式*/
.tabBody  #advice-execute .adviceExecuteDropdown{
    width: 4rem;
    border: 1px double #0d0202;
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 0 0.6rem;
    height: 1rem;
    border-radius: 0.2rem;
    display: -webkit-box;
    float: right;
    margin-right: 0.7rem;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
}

.tab-body-item .itemContainer .item{
    position: relative;
    padding: 0.5rem 1rem 0.5rem 2rem;
    margin-top: 0.5rem;
}
.tab-body-item .itemContainer .item .border-red{
    border: 1px double #e51c23;
}
.tab-body-item .itemContainer .item .border-green{
    border: 1px double #67c23b;
}

.tab-body-item .itemContainer .border-red{
    border: 1px double #e51c23;
}
.tab-body-item .itemContainer .border-green{
    border: 1px double #67c23b;
}
/* 皮试结果执行完成，边框是绿色，背景是深绿色*/
.tab-body-item .itemContainer .item.skinTestGreen{
    background-color: #24771c;
}
.tab-body-item .itemContainer .item .leftTop{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0;
    height: 0;
    border-width: 1rem;
    border-style: solid;
}
/* 医嘱左上角标颜色开始 */
.tab-body-item .itemContainer .item .leftTop{
    border-color: #67c23b transparent transparent #67c23b;
}

.tab-body-item .itemContainer .item .leftTop div{
    transform:rotate(-45deg);
    color: #fff;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -0.8rem;
    left: -0.8rem;
    -ms-transform:rotate(-45deg); 	/* IE 9 */
    -moz-transform:rotate(-45deg); 	/* Firefox */
    -webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
    -o-transform:rotate(-45deg); 	/* Opera */
}
.tab-body-item .itemContainer .item .btn{
    float: right;
}
.tab-body-item .itemContainer .item .btn .aui-label{
    display: inline-block;
}


.tab-body-item .bottomContainer .bottomBtn{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 1.5rem;
}
.tab-body-item .bottomContainer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.tab-body-item .bottomContainer .bottomBtn{
    background-color: #67c23b;
    color: #fff;
}
.tab-body-item .bottomContainer .bottomBtn .btn{
    width: 50%;
    height: 2rem;
    line-height: 2rem;
}
.tab-body-item .bottomContainer .bottomBtn .btn.border-right{
    border-right: 1px double #fff;
}
.tab-body-item .bottomContainer .bottomBody{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 1rem;
    background-color: #e1e1e1;
    display: none;
}
.tab-body-item .bottomContainer .bottomBody.active{
    display: block;
}

.tab-body-item .bottomContainer .bottomBody#skinTest-selector .input{
    width: 5.2rem;
    display: inline-block;
    font-size: 0.6rem;
    height: 1.2rem;
    padding: 0px 5px;
    background-color: #fff;
}

.tab-body-item .bottomContainer .bottomBody .select{
    width: 10rem;
    display: inline-block;
    font-size: 0.7rem;
    height: 1.2rem;
    padding: 0px 5px;
    background-color: #fff;
}

.tab-body-item .bottomContainer .bottomBody#tourRecords-result .textarea{
    width: 10rem;
    display: inline-block;
    font-size: 0.7rem;
    height: 3rem;
    padding: 0px 5px;
    background-color: #fff;
}


.tab-body-item .bottomContainer .bottomBody .input{
    width: 4rem;
    display: inline-block;
    font-size: 0.6rem;
    height: 1.2rem;
    border-bottom: 1px double #ccc;
    padding: 0px 5px;
}
.tab-body-item .bottomContainer .bottomBody#tourRecords-result .flex-item{
    text-align: left;
}
.tab-body-item .bottomContainer .bottomBody#adviceRecords-selector .flex-item{
    text-align: left;
}
.tab-body-item .bottomContainer .bottomBody#adviceSends-selector .flex-item{
    text-align: left;
}
.tab-body-item .bottomContainer .bottomBody#adviceExecute-selector .flex-item{
    text-align: left;
}

textarea{
    border: 1px double #ccc;
}
